<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Parking Layout</title>
<link rel="stylesheet" href="./parking_space.css">
</head>
<body>
<h1>Parking Slot</h1>
<div class="form-container">
<label for="username">Enter Your Name:</label>
<input type="text" id="username" placeholder="Your Name">
<button id="submit" disabled>Reserve Slot</button>
</div>
<div id="parking-lot" class="parking-lot"></div>
<a href="./payment.html"><button style="float: right;">Proceed to Payment</button></a>
</body>
</html>
